body {
  margin: 0;
  background-color: var(--background);
}

* {
  color: white;
}

:root {
  --primary: #a1a1f7;
  --background: #4d4d4d;
  --bg-dark: #383838;
}

.primary {
  color: var(--primary);
}
