#node * {
  font-family: 'JetBrains Mono', monospace;
}

#node {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background);
}

#node > * {
  padding: 8px;
  margin: 0;
}

#node > h2,
#node > h4 {
  height: 32px;
}

#node > *:nth-child(even) {
  background-color: var(--bg-dark);
}

#node h4 {
  display: flex;
  align-items: center;
}

.entry {
  display: inline-grid;
  grid-template-rows: 16px 16px auto;
  grid-template-columns: auto 150px auto 1fr auto auto;
  grid-template-areas:
    'author type date .    context title'
    'author type time .    context title'
    '.      .    text text text    .';
}

.entry h4 {
  margin: 0 8px;
}

.entry .author {
  grid-area: author;
}

.entry .type {
  grid-area: type;
  color: var(--primary);
}

.entry .date {
  grid-area: date;
  font-size: 0.8em;
}

.entry .time {
  grid-area: time;
  font-size: 0.8em;
}

.entry .context {
  grid-area: context;
  font-size: 0.8em;
}

.entry .title {
  grid-area: title;
  color: var(--primary);
}

.entry .text,
.entry .state-change {
  grid-area: text;
  margin: 8px 0 0 8px;
}

.entry .state-change {
  display: flex;
  justify-content: space-between;
}

.entry .state-change h2 {
  margin: 0;
}
